@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}


.cart-icon {
  font-size: 36px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  top: 0;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
  input{
    background-color: white;
  }
  textarea{
    background-color: white;

}
}

.cart-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 0.5s ease-in-out;
}

.cart-wrapper.in.visible{
  opacity: 1;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  transform: translateX(600px);
  top: 0;
  right: 0;
  z-index: 101;
  padding: 40px 10px;
  position: fixed;
  transition: transform 0.5s;

}

.hamburger-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  transform: translateX(-600px);
  top: 0;
  left: 0;
  z-index: 101;
  padding: 25px 0px;
  position: fixed;
  transition: transform 0.5s;

}

.cart-container.in.visible{
  transform: translateX(0);

}

.hamburger-container.in.visible{
  transform: translateX(0);

}



@media (max-width: 1024px){
  .hamburger-container{
    width: 60vw;
  }
  .cart-container{
    width: 60vw;
  }
}

@media (max-width: 640px){
  .hamburger-container{
    width: 100vw;
  }
  .cart-container{
    width: 100vw;
  }
}